<img ng-src="{{project._source.imageUrl}}" class="project">

<h1>{{project._source.name}}</h1>

<p>{{project._id}}</p>



<ul class="specs">
  <li>
    <span>Name</span>
     {{project._source.name}}
     
    
  </li>
	<a ng-href="#/groups" ng-click=>Group IDs</a>
	<dd ng-repeat="group in project._source.groupIDs"><a href="#/projects/{{proj._id}}">{{proj._source.name}}</a>
	{{group.groupID}}
	</dd>
	
  
  
  <li>
  <span>Hidden?</span>
  <dd>{{project._source | checkmark}}</dd>
  </li>
  
  
</ul>